DigitalizacionPartiturasApp/sheet-transcribe-firebase-adminsdk-stggh-46af00c9a0.json
DigitalizacionPartiturasApp/verovio/
DigitalizacionPartiturasApp/audiveris/*
DigitalizacionPartiturasApp/audiveris_output/tmpxykrn0zy-20240613T2130.log
DigitalizacionPartiturasApp/audiveris_output/tmpxykrn0zy.omr
DigitalizacionPartiturasApp/logs/myapp.log
